$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// @include font-face('Hurme - HurmeGeometricSans1 SemiBold', './fonts/Hurme_HurmeGeometricSans1_SemiBold');

@font-face {
  font-family: "Hurme_HurmeGeometricSans1_SemiBold";
  src: url("../fonts/Hurme_HurmeGeometricSans1_SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans1 Regular";
  src: url("../fonts/Hurme - HurmeGeometricSans1 Regular.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans1 Bold";
  src: url("../fonts/Hurme - HurmeGeometricSans1 Bold.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans1 Light";
  src: url("../fonts/Hurme - HurmeGeometricSans1 Light.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold";
  src: url("../fonts/Hurme - HurmeGeometricSans2 SemiBold.otf") format("opentype");
}

video {
  width: 100%;
  display: block;
}

// Grid test
// .container {
//   background: yellow;
// }

// .container-fluid {
//   background: purple;
// }

// colors
$footer_bg: #303C49;
$bright_blue: #1EB4DE;
$bright_gray: #E2E4E6;
$white: #fff;
$black: #000;
$carousel_indicator_active: #00A8D8;
$carousel_indicator: #86858E;
$footer_gray: $carousel_indicator;
$indicator_active: #393f4b;

// constants
$header_height: 70px;
$footer_height: 60px;

/* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
p {
  margin: 0;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer a {
  color: #86858E;
  cursor: pointer;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: $footer_height;
  line-height: $footer_height;
  .copy {
    span {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding: 110px 0;
  text-align: center;
  // border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .cbtn {
    padding: 13px 35px;
    text-transform: uppercase;
  }
  .row-flex {
    align-items: center;
  }
}

.sub-hero {
  background: url(../images/community.jpg) no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 50px;
  position: relative;
  color: $white;
  &:after {
    content: " ";
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background: rgba(48, 60, 73, .6);
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 14px;
  }
  .container {
    position: relative;
    z-index: 5;
  }
}

.marketing-options {
  background: $white;
  color: $white;
  padding: 100px 0;
  border-bottom: 1px solid rgb(229, 229, 229);
}

/* Supporting marketing content */
.marketing {
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container, .jumbotron .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.footer,
.marketing-peer {
  background: $footer_bg;
}

.footer {
  border-top: none;
}

.marketing-peer {
  color: $white;
  padding: 50px 0;
}

.find-us {
  padding: 80px 0;
  p {
    font-size: 3.5rem;
    margin-bottom: 25px;
  }
  .cbtn {
    padding: 10px 70px;
    text-transform: uppercase;
  }
}

.marketing-business {
  padding: 20px 0;
  h3 {
    font-size: 3rem;
    font-family: "Hurme - HurmeGeometricSans1 Light", sans-serif;
    margin: 0;
  }
}

.marketing-business,
.marketing-bottom,
.find-us {
  background: $bright_blue;
  color: $white;
}

.features .glyphicon,
.features .fa {
  font-size: 100px;
}

.feature-icon-wrap,
.marketing,
.find-us {
  text-align: center;
}

.login-box {
  background: $bright_gray;
}

.social {
  list-style: none;
  text-align: right;
  margin-bottom: 0;
  li {
    display: inline-block;
    margin-left: 15px;
  }
  .fa {
    color: $footer_bg;
    background-color: $bright_gray;
    border-radius: 50%;
    width: 25px;
    padding: 5px 0;
    text-align: center;
    transition: .3s;
    &:hover {
      background: $white;
    }
  }
}

.footer {
  small {
    color: $footer_gray;
  }
  .fa {
    background: $footer_gray;
  }
}

.cbtn {
  border-radius: 15px;
  display: inline-block;
  padding: 7px 25px;
  transition: .3s;
}

.btn-dark {
  background: $footer_bg;
  color: $white;
  &:focus, &:hover {
    text-decoration: none;
    color: $bright_blue;
  }
}

.btn-blue {
  background: $bright_blue;
  color: $white;
}

.btn-bright {
  background: $white;
  color: $footer_bg;
  border: 1px solid $footer_bg;
  &:focus, &:hover {
    text-decoration: none;
    color: $bright_blue;
    border-color: $bright_blue;
  }
}

.btn-bright.borderless {
  border: none;
}

.main-nav li {
  display: inline-block;
  line-height: $header_height;
}

.nav-wrap {
  float: right;
}

.login-box, .main-nav {
  float: right;
}

// TYpography
body {
  font-family: "Hurme - HurmeGeometricSans1 Regular", sans-serif;
}

.jumbotron h1,
.jumbatron p.lead,
.jumbatron small,
.features h3,
.price-cost,
.price-title,
.order-btn {
  font-family: "Hurme_HurmeGeometricSans1_SemiBold", sans-serif;
}

.price-cost {
  font-size: 42px;
  color: $black;
}

.features h3 {
  font-size: 4rem;
  color: $footer_bg;
}

.features {
  padding: 140px 0 220px;
}

.jumbotron h1 {
  font-size: 56px;
  color: $footer_bg;
}

.carousel-col h4 {
  font-family: "Hurme - HurmeGeometricSans1 Bold", sans-serif;
}

.jumbotron {
  small {
    font-size: 10px;
    letter-spacing: 1px;
  }
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .cbtn {
    margin-bottom: 20px;
  }
  footer {
    position: static;
  }
}

.business-item p {
  font-size: 16px;
}

.business-item {
  border-bottom: 1px solid #AEACB2;
  padding-top: 60px;
  &.last {
    border-bottom: none;
  }
}

.features-intro {
  padding: 40px 0 140px 0;
}

.marketing-peer p {
  font-size: 4rem;
  font-family: "Hurme - HurmeGeometricSans1 Light", sans-serif;;
}
// TYpography

.jumbotron.jumbotron-learning {
  background-image: url(../images/hero-learning.png);
}

.jumbotron.jumbotron-recuiting {
  background-image: url(../images/hero-recruiting.png);
}

.jumbotron.jumbotron-innovation {
  background-image: url(../images/hero-innovation.png);
}

.jumbotron {
  background-image: url(../images/hero-home.png);
  background-color: transparent;
  color: $white;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  text-align: left;
  // padding-top: 200px;
  // padding-bottom: 60px;
  // &:after {
  //   content: "";
  //   background: rgba(0, 149, 213, .7);
  //   z-index: 2;
  //   position: absolute;
  // }
  &:after,
  .jumbotron-inner {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .jumbotron-inner {
    position: relative;
    z-index: 3;
  }
  .col-flex {
    text-align: center;
    width: 100%; 
  }
}

.jumbotron-inner h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

h1.jumbotron-title {
  position: relative;
  margin-bottom: 5px;
  margin-top: 0;
  color: $white;
  // &:after {
  //   content: " ";
  //   position: absolute;
  //   background: url(../images/circles.svg) no-repeat;
  //   height: 250px;
  //   width: 250px;
  //   background-size: cover;
  //   top: -150px;
  //   margin-left: -60px;
  // }
}

.img-carousel {
  background: $footer_bg;
  padding-top: 20px;
  padding-bottom: 30px;
}

.img-carousel .row {
  margin-bottom: 15px;
}

.carousel-col {
  img {
    border-radius: 5px;
    vertical-align: text-bottom;
  }
  h4 {
    margin-top: 0;
  }
}

.carousel-col-footer {
  background: $white;
  border-radius: 0 0 5px 5px;
  margin-top: -3px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  // height: 7px;
  // width: 7px;
}

.carousel-indicators .active {
  background-color: $indicator_active;
  border-color: $indicator_active;
}

.carousel-indicators li {
  background-color: $carousel_indicator;
  border-color: $carousel_indicator;
}

.header {
  height: $header_height;
  margin-bottom: 0;
}

.login-box {
  height: $header_height;
  text-align: center;
  .cbtn {
    padding: 5px 15px;
  }
  p {
    line-height: 30px;
  }
  .login-btns {
    padding: 6px 0;
  }
  a {
    line-height: 17px;
    display: inline-block;
    &:first-of-type {
      margin-right: 10px;
      margin-left: 20px;
    }
    &:last-of-type {
      margin-right: 20px;
    }
  }
}

.login-box p {
  border-bottom: 1px solid $white;
}

.main-nav {
  height: 70px;
  a {
    color: $footer_bg;
    line-height: 17px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav { 
    li > a:focus, li > a:hover {
      background: transparent;
      text-decoration: underline;
    }
  }
  ul {
    margin-top: 31px;
  }
}

// ICONS
.feature-icon-wrap {
  img {
    width: 60%;
    margin: auto;
    max-height: 290px;
  }
}

.marketing-bottom {
  margin-bottom: 0;
  padding: 60px 0;
  p {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

h1.text-muted {
  padding-bottom: 0;
  margin: 0;
}

.text-muted {
  float: left;
  margin-left: 15px;
}

.text-muted img {
  height: 70px;
}

.row-flex {
  display: flex;
  min-height: 300px;
}

.carousel-replacment {
  padding: 50px 0 30px 0;
  .row-flex {
    min-height: auto;
    margin-bottom: 20px;
    align-items: center;
  }
}

.col-flex {
  width: 50%;
  padding: 0 15px;
}

.col-flex-content {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 20px;
  }
}

.carousel {
  max-width: 1300px;
  margin: auto;
}

.community-find-link {
  color: $white;
  text-decoration: underline;
  &:focus, &:hover {
    color: $white;
  }
}

.abtn img {
  max-width: 200px;
}

.video-wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  video {
    display: block;
  }
  .play-btn {
    position: absolute;
    max-width: 300px;
    top: 50%;
    right: 50%;
    cursor: pointer;
    z-index: 999;
    margin-right: -150px;
    margin-top: -150px;
    img {
      max-width: 300px;
    }
  }
}

// Pricing
.pricing {
  padding: 70px 0 50px 0;
}

.price-inner {
  border-radius: 12px;
}

.price-header-wrap {
  // background: $footer_bg;
  color: $black;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 12px 12px 0 0;
  margin-top: -10px;
}

.highlighted .price-header-wrap {
  background: $bright_blue;
}

.price-header {
  padding-left: 50%;
  margin-left: -80px;
  padding-top: 50px;
}

.price-value {
  border: 3px solid #10b6fe;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: auto;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  color: $black;
}

.price-list li {
  border-bottom: 2px solid #dfe5e8;
  border-left: 2px solid #dfe5e8;
  border-right: 2px solid #dfe5e8;
  padding: 10px 10px;;
}

.price-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: $white;
  color: #5f727f;
  text-align: center;
}

.price-crossed {
  text-decoration: line-through;
  color: #99a9b5;
}

.price-title {
  text-align: center;
  color: $white;
  padding-top: 17px;
  padding-bottom: 23px;
  font-size: 18px;
}

.order-btn  {
  display: inline-block;
  text-align: center;
  background-color: $footer_bg;
  color: $white;
  border-radius: 10px;
  line-height: 40px;
  padding: 0 17px;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid $footer_bg;
  transition: .3s;
  &:focus, &:hover {
    text-decoration: none;
    color: $bright_blue;
  }
}

.price-footer {
  // border: 2px solid #dfe5e8;
  border-radius: 0 0 12px 12px;
  border-top: none;
  padding: 12px 0;
  text-align: center;
  position: absolute;
  bottom: 5px;
  right: 50%;
  margin-right: -60px;
}

.price-value {
  border-color: $white;
}

@media screen and (max-width: $screen-sm) {
  .jumbotron-title:after {
    display: none;
  }
  .jumbotron {
    padding: 50px 0;
  }
  .row-flex {
    flex-direction: column;
  }
  .col-flex {
    width: 100%;
  }
  .business-item-content a {
    display: inline-block;
    margin-bottom: 50px;
  }
  .price-inner {
    margin-bottom: 30px;
  }
  .pricing {
    padding-bottom: 20px;
  }
  .header, .main-nav {
    height: auto;
    padding: 0;
  }
  .text-muted {
    float: none;
    .img-responsive {
      margin: auto;
    }
  }
  .nav-wrap, .login-box, .main-nav {
    float: none;
  }
  .nav.pull-right {
    float: none !important;
    margin-top: 0;
    li {
      display: block;
      text-align: center;
      background: $bright_gray;
      border-top: 1px solid $white;
    }
  }
}

.business-item-content .btn-dark {
  margin-right: 20px;
}

.highlighted .order-btn {
    background: $white;
    color: $bright_blue;
    border: 2px solid $bright_blue;
    &:focus, &:hover {
      color: $white;
      background: $bright_blue;
    }
}

.pricing .col-flex {
  padding-bottom: 80px;
}

.order-btn {
  width: 120px;
}

@media screen and (min-width: $screen-lg) {
  .highlighted .order-btn {
    position: relative;
    z-index: 5;
  }

  .highlighted .price-header {
    padding-top: 80px;  
  }
  
  .highlighted .price-list {
    position: relative;
  }


  .highlighted .price-inner {
    margin-top: -30px;
    padding-bottom: 60px;
    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      bottom: 0px;
      height: 100px;
      background: $white;
      border-bottom: 2px solid #dfe5e8;
      border-left: 2px solid #dfe5e8;
      border-right: 2px solid #dfe5e8;
      border-radius: 0 0 12px 12px;
    }
  }
}

.carousel-replacment {
  background: $bright_blue;
  color: $white;
  .container {
    padding: 0;
  }
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  border: none;
  margin-bottom: 0;
  min-height: auto;
}

.navbar-collapse {
  padding-left: 0;
}

.navbar-trigger {
  position: absolute;
  right: 0;
  top: -67px;
  padding-right: 0;
  &:focus, &:hover {
    .fa { 
      color: $footer_bg; 
    }
  }
  .fa {
    font-size: 30px;
    color: $footer_bg;
    transition: .3s;
  }
}

.navbar-trigger.collapsed {
  .fa {
    color: $bright_blue;
  }
}

.terms {
  padding-bottom: 20px;
  h2 {
    font-size: 40px;
  }
}

/* Sticky */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom = footer height */
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.price-cost.custom {
  font-size: 32px;
}

.pricing .col-flex {
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px;
  border: 2px solid #dfe5e8;
  position: relative;
}

.pricing .price-list li {
  border-left: none;
  border-right: none;
}

.highlighted .price-inner::after {
  display: none;
}

.marketing-options .row-flex {
  min-height: auto;
}

.marketing-options .col-flex {
  position: relative;
}

.col-flex-4 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-right: 0;
  padding-left: 0;
  .col-flex {
    flex: 2 0 50%;
  }
}

.contact-form {
  padding: 20px 0;
}

.marketing-options-desc {
  padding: 70px 0;
}

.marketing-option-info {
  position: absolute;
  bottom: 5px;
  right: 20px;
  left: 20px;
  z-index: 20;
}

.marketing-option-link {
  color: $white;
  font-size: 20px;
  transition: .3s;
  &:focus, &:hover {
    color: $bright_blue;
    text-decoration: none;
  }
}

.carousel-indicators {
  bottom: -50px;
  left: 20px;
}

.left.carousel-control {
  left: -60px;
  background-image: none;
  width: 30px;
}

.right.carousel-control {
  right: -60px;
  background-image: none;
  width: 30px;
}

.no-padding-left {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.peer-connect-title {
  color: $white;
  background: $footer_bg;
  padding: 120px 0;
  font-size: 32px;
  text-align: center;
}

.carousel-control {
  color: $indicator_active;
  &:focus, &:hover {
    color: $indicator_active;
  }
}

.jumbotron.jumbotron-recuiting .lead, .jumbotron.jumbotron-innovation .lead {
  font-size: 40px;
  font-family: "Hurme_HurmeGeometricSans1_SemiBold", sans-serif;
}

h1.jumbotron-title {
  margin-bottom: 40px;
}

.jumbotron .lead {
  margin-bottom: 40px;
}

.jumbotron .cbtn.btn-blue {
  margin-bottom: 40px;
}

.jumbotron .cbtn.btn-blue {
  &:focus, &:hover {
    background: $footer_bg;
    color: $white;
    text-decoration: none;
  }
}

.find-us .find-us-regular {
  font-size: 16px;
}

.get-in-touch {
  background: #e4e4e4;
  padding: 60px 0;
  text-align: center;
  .cbtn {
    padding: 10px 70px;
    text-transform: uppercase;
  }
}

.get-in-touch-partners {
  padding: 80px 0;
}

.no-left-15 {
  padding-left: 0;
}

.no-right-15 {
  padding-right: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.get-in-touch .row-flex {
  min-height: auto;
}

.get-in-touch .col-flex {
  width: 20%;
}

.marketing-options-innovation {
  text-align: center;
  .row-flex {
    flex-wrap: wrap;
  }
  .row-flex :first-child, .row-flex :first-child + .col-flex {
    margin-bottom: 15px;
  }
  .col-flex {
    flex: 2 0 50%;
    .marketing-option-info {
      top: 50%;
      font-size: 16px;
      line-height: 20px;
      margin-top: -10px;
    }
  }
}

.innovation-quote {
  color: $footer_bg;
  font-size: 24px;
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
  padding-top: 65px;
  display: block;
}

.innovation-quote-author {
  color: $bright_gray;
}