extends layouts/default
block content
    .container
      .row.text-center
        .col-xs-12
          h2 Pricing guide
    section.pricing
      .container.reveal
        .row.row-flex
          .col-flex
            .price-inner
              .price-header-wrap
                .price-header
                  .price-value
                    span.price-cost $0
                    br
                    |  Per Month
                p.price-title Open
              ul.price-list
                li For anyone looking to set up an open, accessible to all community, free forever.
                li Create Community
                li
                  strong Free includes
                  |  all of these great features:
                li A public community accessible to anyone on the SmartUp platform
                li A community URL (e.g. startups.smartup.io)
                li Native apps for iOS and Android
                li Accessible via web URL
                li Leaderboards for your communities and channels
                li Unlimited access to all SmartDoc formats to get you started creating content
                li Unlimited access to all public content on the SmartUp platform
                li Invite anyone to create content in your community
                li Digital guides to creating content using our SmartDoc format
                li Email support with the SmartUp Helpdesk for technical issues
              .price-footer
                a.order-btn(href='#0')
                  i.fa.fa-angle-right
                  |  Order
          .col-flex.accent
            .price-wrap
              .price-inner
                .price-header-wrap
                  .price-header
                    .price-value
                      span.price-cost $5
                      br
                      |  Per Month
                  p.price-title Private
                ul.price-list
                  li per user, per month, billed annually.
                  li
                    | For teams and small to medium-sized businesses and enterprises looking to pilot smartup
                  li Create Community
                  li
                    strong Private
                    |  includes everything in 
                    strong Free
                    | , and:
                  li
                    | A private community for your team or company, accessible only to people that you invite
                  li Invite anyone from your team or company ot create content
                  li
                    | Choose from customizable content packs and templates covering a broad range of topics
                  li Telephone access to our content experts
                  li Analytics and data on your communities
                .price-footer
                  a.order-btn(href='#0')
                    i.fa.fa-angle-right
                    |  Order
          .col-flex
            .price-inner
              .price-header-wrap
                .price-header
                  .price-value
                    span.price-cost.custom Custom
                p.price-title Enterprise
              ul.price-list
                li
                  | A customizable, affordable scaleable knowledge platform that&apos;s simple to implement
                li Get in touch
                li
                  strong Enterprise
                  |  includes everything in 
                  strong Private
                  | , and:
                li Enterprise grade cloud security
                li Dedicated tech support backed by service level agreements00
                li SSO for authentication
                li
                  | API integrations to manage users and integrate with your learning management system
                li Customizable Analytics via our web-based analytics package
              .price-footer
                a.order-btn(href='#0')
                  i.fa.fa-angle-right
                  |  Order
          .col-flex
            .price-inner
              .price-header-wrap
                .price-header
                  .price-value
                    span.price-cost.custom Custom
                p.price-title Enterprise
              ul.price-list
                li
                  | A customizable, affordable scaleable knowledge platform that&apos;s simple to implement
                li Get in touch
                li
                  strong Enterprise
                  |  includes everything in 
                  strong Private
                  | , and:
                li Enterprise grade cloud security
                li Dedicated tech support backed by service level agreements00
                li SSO for authentication
                li
                  | API integrations to manage users and integrate with your learning management system
                li Customizable Analytics via our web-based analytics package
              .price-footer
                a.order-btn(href='#0')
                  i.fa.fa-angle-right
                  |  Order