extends layouts/default
block content
    .container
        .row
            .col-xs-12
                h2.text-center.feedback-title Hi, we're looking forward to getting your team up and running on SmartUp.
                p.text-center.feedback-info To make your request for a community, please tell us little more about you and your company..
            form.contact-form(method='post', action='#')
                input(type='hidden', name='form-name', value='request-community')
                .col-md-6
                    .form-group
                        label(for='reques-username') Your name*
                        input#request-username.form-control(type='text', name='request-username', placeholder='John Doe', required)
                .col-md-6
                    .form-group
                        label(for='request-organization-name') Your organization's name
                        input#request-organization-name.form-control(type='text', name='request-organization-name', placeholder='SmartUp', required)
                .col-md-4
                    .form-group
                      label(for='request-email') Your work email*
                      input#request-email.form-control(type='email', name='request-email', placeholder='e.g. johndoe@acmeltd.com', required)
                .col-md-4
                    .form-group
                      label(for='request-organization-size') Your organization's size?*
                      select#request-organization-size.form-control(name='request-organization-size', required)
                        option 1-20 etc…
                        option 20-40
                        option 40-100
                        option 100-1000
                .col-md-4
                    .form-group
                      label(for='request-phone') Your telephone number
                      input#request-phone.form-control(type='tel', name='request-phone', placeholder='e.g. +1 555 123 4567')
                .col-md-4
                    .form-group
                      label(for='request-people-amount') How many people would you like to start in your community?*
                      input#request-people-amount.form-control(type='text', name='request-people-amount', placeholder='e.g. 200', required)
                .col-md-4
                    .form-group
                      label(for='request-community-name') What would you like to call your community?
                      input#request-community-name.form-control(type='text', name='request-community-name', placeholder='e.g. acmeinnovators')
                .col-md-4
                    .form-group
                      label(for='request-community-domain') What web domain would you like for your community?
                      input#request-community-domain.form-control(type='text', name='request-community-domain', placeholder='e.g. communityname.smartup.io')
                .col-xs-12.text-center
                    button.cbtn.btn-dark(type='submit') REQUEST COMMUNITY
