extends layouts/default
block content 
    .container
        .row
            .col-xs-12
                h2.text-center.feedback-title New business enquiries
                p.text-center.feedback-info If you'd like to understand more about SmartUp and how it can shape how knowledge is shared and how microlearning can help your organization, here are some regional contacts who can help you..
        .row.contact-team
            .col-sm-3.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='', alt='team member')
                a.contact-team-mail(href="mailto:") Your work email*
                p.contact-team-pale-txt e.g. johnsmith@acmeltd.com
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io
            .col-sm-3.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='', alt='team member')
                a.contact-team-mail(href="mailto:") Your organization's size?*
                p.contact-team-pale-txt 1-20 etc…
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io
            .col-sm-3.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='', alt='team member')
                a.contact-team-mail(href="mailto:") Your telephone number
                p.contact-team-pale-txt e.g. 1-20 etc…
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io
            .col-sm-3.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='', alt='team member')
                a.contact-team-mail(href="mailto:") Your telephone number
                p.contact-team-pale-txt e.g. 1-20 etc…
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io